<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Order</title>
    <%- include('../partials/head'); %>
</head>
<body>
<%- include('../partials/header'); %>
<!--section-->

<section class="section">
    <!--    intro header-->
    <div class="intro-header">
        <div class="content-image-wrapper">
            <img class="full-image" id="order-closeup" src=<%= originalURL %> alt="icon"/>
            <div class="intro-content">
                <!--            intro text -->
                <div class="intro-text">
                    <!--                Heading jumbo-->
                    <p class="heading-jumbo"><%= item.name %>, <%= introLine %></p>
                    <% if(renditionURL){ %>
                        <p class="paragraph-bigger">View your rendition below!</p>
                    <% }else{ %>
                        <p class="paragraph-bigger">
                            Our artists will get to work right away. We'll email you when
                            your MyMoji is ready (expect to hear back from us within 24-48
                            hours). We think you'll love it, but once you receive your
                            MyMoji you'll also be able to request any changes you think will
                            make it that much better.
                        </p>
                    <% } %>

                    <p class="heading-jumbo">
                        Here's your order number:
                    </p>
                    <p id="order-number" style="font-style: italic"></p>
                    <p class="paragraph-bigger">
                        If you have any questions you can reach us at contact@mymoji.com
                    </p>
                </div>
                <!--            button-->
                <!--				<button id="section1button" onclick="buttonClick()">-->
                <!--					Create Your Own-->
                <!--				</button>-->
            </div>
        </div>
        <!--        intro content-->
    </div>
</section>

<% if(renditionURL){ %>
    <div class="work-heading-wrapper">
        <p class="work-heading">Renditions</p>
    </div>
    <section class="section">
        <!--    intro header-->
        <div class="intro-header">

            <div class="content-image-wrapper">
                <div class="content-image-wrapper">
                    <img class="full-image" id="original-image" src=<%= renditionURL %> alt="icon"/>
                    <div class="intro-content">
                        <!--            intro text -->
                        <div class="intro-text">
                            <!--                Heading jumbo-->
                            <button class="button blue" style="align-content: start"
                                    onclick="location.href='/downloadView/'+ '<%=item.customer_id%>';">
                                Looks great!
                            </button>
                            <button class="button" onclick="location.href='/feedbackView/'+ '<%=item.customer_id%>';">
                                Request Changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<% } %>
<%- include('../partials/footer'); %>
<script src="../../js/vendor/modernizr-3.11.2.min.js"></script>
<script src="../../js/plugins.js"></script>
<script src="../../js/main.js"></script>

</body>
</html>
