<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Order</title>
    <%- include('../partials/head'); %>
</head>
<body>
<%- include('../partials/header'); %>
<!--section-->

<section class="section">
    <!--    intro header-->
    <div class="intro-header">
        <div class="content-image-wrapper">
            <div></div>
            <img class="full-image image-no-margin" id="order-closeup" src="<%= originalURL %>" alt="icon"/>
            <div class="intro-content">
                <!--            intro text -->
                <div class="intro-text">
                    <!--                Heading jumbo-->
                    <h1 class="heading-jumbo"><%= item.name %>, the MyMoji is ready!</h1>

                    <h3 class="paragraph-bigger">View your renditions below!</h3>

                    <p class="heading-jumbo">
                        Here's your order number: <%= item.customer_id %>
                    </p>
                    <p id="order-number" style="font-style: italic"></p>
                    <p class="paragraph-bigger">
                        If you have any questions you can reach us at contact@mymoji.com
                    </p>
                    <button class="button button-on-primary" id="change-mugshot-button" onclick="location.href='/newCloseUp/'+ '<%= item.customer_id %>';" >Change Close-up</button>
                </div>
            </div>
            <div></div>
        </div>
    </div>
</section>

<div class="work-heading-wrapper">
    <h2 class="work-heading">Renditions</h2>
</div>

<section class="section">

    <div class="grid-container">
        <% renditionArray.forEach(function(rendition) { %>
            <!--            change to grid layout and share space evenly between the two-->
            <div class="rendition-card">
                <img class="card-image" src="<%= rendition.url %>"  alt="an image">
                <!--                Heading jumbo-->
                <button class="button blue" style="align-content: start"
                        onclick="location.href='/downloadView/'+ '<%= item.customer_id %>' + '/'+ '<%=rendition.rendition_number%>';">
                    Looks great!
                </button>
                <button class="button" onclick="location.href='/feedbackView/'+ '<%= item.customer_id %>' + '/'+ '<%=rendition.rendition_number%>';">
                    Request Changes
                </button>
            </div>
        <% }) %>
    </div>
</section>

<%- include('../partials/footer'); %>
<script src="../../js/vendor/modernizr-3.11.2.min.js"></script>
<script src="../../js/plugins.js"></script>
<script src="../../js/main.js"></script>

</body>
</html>
